
<body class="bg-historia">
  <div class="container d-flex justify-content-center align-items-center min-vh-100">

    <div class="w-100 tamaño">
      <div class="card shadow-sm">
        <div *ngIf="loading" class="d-flex justify-content-center align-items-center" style="height: 500px;">
          <div class="spinner-border text-success" role="status">
            <span class="visually-hidden">Cargando...</span>
          </div>
        </div>
        <div class="card-body">
          <h3 class="card-title text-center mb-4">Historia Clínica de {{ nombrePaciente }} </h3>

          <ul class="list-group mb-4" *ngIf="historiaClinica && !loading; else sinHistoria">
            <li class="list-group-item"><strong>Alergias:</strong> {{ historiaClinica.alergias }}</li>
            <li class="list-group-item"><strong>Enfermedades Previas:</strong> {{ historiaClinica.enfermedadesPrevias }}</li>
            <li class="list-group-item"><strong>Observaciones Generales:</strong> {{ historiaClinica.observacionesGenerales }}</li>
            <li class="list-group-item"><strong>Antecedentes:</strong> {{ historiaClinica.antecedentes }}</li>
            <li class="list-group-item"><strong>Fecha de creación:</strong> {{ historiaClinica.fechaCreacion | date:'mediumDate' }}</li>
          </ul>

          <ng-template #sinHistoria>
            <div class="alert alert-warning text-center">
              No se encontró historia clínica para este paciente.
            </div>
          </ng-template>

          <div class="d-grid gap-2 d-md-block text-center" *ngIf="historiaClinica">
            <button class="btn btn-success me-2" (click)="editarHistoria(historiaClinica.id!)">✏️ Editar</button>
            <button class="btn btn-danger" (click)="confirmarEliminacion(historiaClinica.id! , historiaClinica.idPaciente)">❌ Eliminar</button>
          </div>
          <hr class="my-4" />
          <div class="text-center">
            <button class="btn btn-secondary" (click)="volver()">🔙 Volver al listado de pacientes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>