

    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
             <h1 href="#" class="flex items-center space-x-2">
          <img
              src="https://imgs.search.brave.com/G9GdxTOwkNLBZpHqxilEj6mgo5SnihrWX9H3kOje1R4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/ZW1hZ2lzdGVyLmNv/bS5jby9ibG9nL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDIxLzA4/L2xvZ28tcHJvZmFt/aWxpYS0zMDB4MjAw/LmpwZw"
              class="h-20 max-h-25 w-auto"
              alt="Logo"
          />    </h1>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">About</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© {{ year }} <a href="https://profamilia.org.co/" target="_blank" class="hover:underline">Profamilia™</a>. Todos los derecho reservados.</span>
    </div>

