
<body class="bg-historia">
    <div class="container d-flex justify-content-center align-items-center min-vh-100 bg-historia">
    <div class="w-100" style="max-width: 600px;">
        <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="card-title text-center mb-4">Crear Historia Clínica para {{nombrePaciente}}</h3>

            <form (ngSubmit)="crearHistoriaForm()" #formHistoria="ngForm">

            <div class="mb-3">
                <label class="form-label">Alergias</label>  
                <input type="text" name="alergias" class="form-control" [(ngModel)]="historiaClinica.alergias" required />
            </div>

            <div class="mb-3">
                <label class="form-label">Enfermedades Previas</label>
                <input type="text" name="enfermedadesPrevias" class="form-control" [(ngModel)]="historiaClinica.enfermedadesPrevias" />
            </div>

            <div class="mb-3">
                <label class="form-label">Observaciones Generales</label>
                <textarea name="observacionesGenerales" class="form-control" rows="3" [(ngModel)]="historiaClinica.observacionesGenerales"></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label">Antecedentes</label>
                <textarea name="antecedentes" class="form-control" rows="3" [(ngModel)]="historiaClinica.antecedentes"></textarea>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success d-flex align-items-center justify-content-center gap-2"[disabled]="formHistoria.invalid || loading">
                <span *ngIf="!loading">💾 Guardar</span>
                    <span *ngIf="loading" class="spinner-border spinner-border-sm text-light" role="status" aria-hidden="true"></span>
                <span *ngIf="loading">Guardando...</span>
              </button>
                <button class="btn btn-secondary" (click)="volverListadoPacientes()">🔙 Volver al listado de pacientes</button>
            </div>
            </form>
        </div>
        </div>
    </div>
    </div>
</body>
